$green: #238443;
$lightgreen: #41ab5d;
$background: #ffffe5;
$white: white;


$hoverBgColor: #238443;
$hoverBgColor2: #006837;

$paper: #2563ab;
$pet: #f9bc2e;
$mixed: #13130d;
$glass: #249c23;
$bio: #73452d;

