@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@1&display=swap" rel="stylesheet');

$text: 'Open Sans', sans-serif;
$logo:'Robot', sans-serif;
$size: 14px;