@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


$text: 'Raleway', sans-serif;
$logo:'Raleway', sans-serif;
$size: 14px;