@import "../sass/Colors";
@import "../sass/Fonts";
@import "../sass/Mixins";

.footer {
  background-color: $green;
  height: 60px;
  font-family: $text;
  color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;


  &__container {
   width: 100%;
    display: flex;
   justify-content: space-between;
   padding: 0px 60px;
  }

  &__logo {

  }

  &__contact {
    text-decoration: none;
    color: white;

      &:hover {
        color: $black;
      }



  }
}

