@import "../sass/Colors";
@import "../sass/Fonts";
@import "../sass/Mixins";

.home {
  font-family: $text;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__hello {
    font-family: $text;
    color: $black;
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin-top: 100px;


    @include tablet {
      font-size: 1.6rem;
    }

    @include mobile {
      padding: 0px 30px;
      margin-top: 40px;
    }
  }

  &__img {
    margin-top: 50px;
    width: 500px;
    height: auto;

    @include tablet {
      width: 300px;
    }

    @include mobile {
      width: 250px;
    }
  }
}