@import "../sass/Colors";
@import "../sass/Fonts";
@import "../sass/Mixins";

.home {
  padding-top: 100px;
  font-family: $text;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__hello {

    font-family: $text;
    color: $green;
    font-size: 2rem;
    text-align: center;

  }

  &__img {
    margin-top: 50px;
    width: 500px;
    height: auto;


  }
}