@import "/src/css/settings/Colors";
@import "/src/css/settings/Fonts";
@import "/src/css/settings/Mixins";

.home {
  font-family: $text;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__text1 {
    margin-top: 60px;
    text-align: center;
    padding: 0 20px;
    line-height: 30px;

    @include tablet {
      padding: 0 40px;
    }

    @include desktop {
      margin-top: 90px;
      max-width: 50vw;
      padding: 0 40px;
      line-height: 40px;
    }
  }

  &__text2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 0 40px;

    @include tablet {
      margin-bottom: 80px;
      margin-top: 80px;
    }

    @include desktop {
      margin-bottom: 80px;
      margin-top: 50px;
    }
  }

  &__choice {

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      @include desktop {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-link {
      text-decoration: none;

      @include tablet {
        padding: 0 15px;
      }

      @include desktop {
        padding: 0 30px;
      }
    }

    &-box {
      @include createBox(80vw, 120px, 10px, $background, 10px);
      position: relative;
      box-shadow: 0 0 15px $green;
      display: flex;

      @include tablet {
        @include createBox(220px, 220px, 10px, $background, 20px);
      }

      @include desktop {
        @include createBox(300px, 300px, 10px, $background, 20px);
      }

      &:hover,
      &:active,
      &:focus {
        background: linear-gradient(130deg, $hoverBgColor 0%, $hoverBgColor2 100%);
        box-shadow: none;
        color: white;
        transition: .3s all ease-in-out;
        .icon,
        .desc {
          color: $background;
          transition: .3s all ease-in-out;
        }
      }

    }

    &-boxContent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: auto;

      @include tablet {
        flex-direction: column;
        padding: 15px
      }

      @include desktop {
        flex-direction: column;
        padding: 40px 30px 30px 30px;
      }
    }

    &-icon {
      color: $green;
      font-size: 4.3rem;
      padding: 10px;
      
      @include desktop {
        font-size: 5rem;
      }

    }

    &-text {
      color: $green;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      text-align: left;
      padding: 10px;
      width: 70%;

      @include tablet {
        font-size: 1.1rem;
        width: auto;
      }
      @include desktop {
        font-size: 1.3rem;
        width: auto;
      }
    }
  }
}