@import "/src/css/settings/Colors";
@import "/src/css/settings/Fonts";
@import "/src/css/settings/Mixins";

.desktopNavigation {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}
.mobileNavigation {
  position: relative;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }


  &__menu {
    color: black;
    position: absolute;
    top: 5%;
    right: 5%;
    coursor: pointer;


  }
}


.nav {

  &__container {
    background-color: $green;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    position: absolute;
    z-index: 4;
    box-shadow: 7px 0 10px rgba(0, 0, 0, 0.3);

    @include tablet {
      flex-direction: row;
      height: auto;
      width: 100vw;
      position: relative;
      justify-content: space-between;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    @include desktop {
      flex-direction: row;
      height: auto;
      width: 100vw;
      position: relative;
      justify-content: space-between;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

  }


  &__element {
    padding: 15px 40px;

    &:first-of-type {
      padding-top: 40px;
    }

    @include tablet {
      padding: 15px 40px;
      text-align: center;

      &:first-of-type {
        padding-left: 100px;
        padding-top: 15px;
      }
      &:last-of-type {
        padding-right: 100px;
      }
    }

    @include desktop {
      padding: 15px 40px;

      &:first-of-type {
        padding-left: 190px;
        padding-top: 15px;
      }
      &:last-of-type {
        padding-right: 190px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $background;
    font-size: 1.2rem;
    font-weight: bold;

    @include tablet {
      font-weight: normal;
    }

    @include desktop {
      font-size: 1.3rem;
      font-weight: normal;
    }

    &:hover {
      color: black;
    }
  }
}

