@import "/src/css/settings/Colors";
@import "/src/css/settings/Fonts";
@import "/src/css/settings/Mixins";

.desktopNavigation {
  display: none;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}
.mobileNavigation {
  position: relative;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  &__menu {
    color: black;
    position: absolute;
    top: 5%;
    right: 5%;
    coursor: pointer;


  }
}


.nav {

  &__container {
    background-color: $green;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    position: absolute;
    box-shadow: 7px 0 10px rgba(0, 0, 0, 0.3);

    @include tablet {
      flex-direction: row;
      height: 20vh;
      width: 100vw;
      position: relative;
      justify-content: space-between;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    @include desktop {
      flex-direction: row;
      height: 20vh;
      width: 100vw;
      position: relative;
      justify-content: space-between;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

  }

  &__element {
    padding: 15px 40px;

    &:first-of-type {
      padding-top: 40px;
    }

    @include tablet {
      padding: 40px;

      &:first-of-type {
        padding-left: 100px;
      }
      &:last-of-type {
        padding-right: 100px;
      }
    }

    @include desktop {
      padding: 40px;

      &:first-of-type {
        padding-left: 250px;
      }
      &:last-of-type {
        padding-right: 250px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

    @include desktop {
      font-size: 1.4rem;
    }

    &:hover {
      color: black;
    }


  }
}



//
//.header {
//  height: 80px;
//  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
//  background-color: $green;
//  color: $white;
//  z-index: 30;
//  position: relative;
//
//
//  &__container {
//    height: 100%;
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    margin-left: 100px;
//    margin-right: 30px;
//    flex-grow: 1;
//    position: relative;
//
//    @include tablet {
//      margin-left: 25px;
//    }
//
//    @include mobile {
//      margin-left: 0px;
//    }
//  }
//
//  &__logo {
//    font-family: $logo;
//    font-size: 1.7rem;
//    color: white;
//    text-decoration: none;
//    font-weight: bold;
//
//    @include tablet {
//      padding-left: 25px;
//      font-size: 1.2rem;
//    }
//  }
//
//  &__nav {
//    display: flex;
//
//    @include tablet {
//      flex-wrap: wrap;
//    }
//
//    @include mobile {
//      position: absolute;
//      left: 0px;
//      top: 80px;
//      flex-direction: column;
//      background-color: $white;
//      width: 100vw;
//      padding-bottom: 20px;
//      display: none;
//      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);;
//    }
//  }
//}
//
//.nav {
//  &__element {
//    padding: 0 26px;
//    list-style-type: none;
//    text-align: center;
//
//    @include tablet {
//      padding: 0px;
//    }
//
//    @include mobile {
//      padding: 0;
//    }
//  }
//
//  &__link {
//    font-family: $text;
//    color: $white;
//    font-size: 1.1rem;
//    font-weight: bold;
//    letter-spacing: 0.1875rem;
//    padding: 15px 20px 25px;
//
//    text-decoration: none;
//
//    &:hover {
//      color: black;
//      font-weight: bold;
//    }
//    @include tablet() {
//      font-size: 0.9rem;
//    }
//
//    @include mobile() {
//      display: block;
//      padding: 15px 20px;
//      color: black;
//      font-size: 1.1rem;
//
//      &:hover {
//        color: $lightgreen;
//        border-color: transparent;
//      }
//    }
//  }
//}
//
//.menu {
//  &__btn {
//    display: none;
//    position: absolute;
//    top: -9999px;
//    left: -9999px;
//    opacity: 0;
//
//    @include mobile {
//      &:checked {
//        ~ .header__nav {
//          display: flex;
//        }
//
//        ~ .menu__toggle {
//          span {
//            &:nth-child(1) {
//              transform: rotate(45deg) translate(2px, 5px);
//            }
//            &:nth-child(2) {
//              opacity: 0;
//            }
//            &:nth-child(3) {
//              transform: rotate(-45deg) translate(2px, -5px);
//            }
//          }
//        }
//      }
//    }
//  }
//
//  &__toggle {
//    display: none;
//
//    span {
//      width: 20px;
//      height: 2px;
//      display: block;
//      margin-bottom: 3px;
//      background-color: white;
//      transition: .3s all ease-in-out;
//
//      &:last-child {
//        margin-bottom: 0;
//      }
//    }
//
//    @include mobile {
//      display: block;
//      margin-right: 10px;
//    }
//  }
//}
//
//
//
//
//

