@import "/src/css/settings/Colors";
@import "/src/css/settings/Fonts";
@import "/src/css/settings/Mixins";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;

    @include tablet {
      max-width: 60vw;
    }

    @include desktop {
      max-width: 50vw;
      margin-top: 90px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 60px;
    }
  }

  &__form {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    border: (1px solid $green);
    outline: none;
    box-shadow: 0 2px 10px rgba(35,132,67, 0.4);
    padding: 10px;

    &::placeholder {
      color: $lightgreen;
    }

    &:focus {
      box-shadow: none;
    }

    @include tablet {
      max-width: 80%
    }
    @include desktop {
      max-width: 80%
    }
  }

  &__list {
    width: 100%;
    font-size: 1.2rem;
    border: (1px solid $green);
    outline: none;
    box-shadow: 0 2px 10px rgba(35,132,67, 0.16);
    padding: 10px;
    background-color: $white;
    overflow: scroll;
    max-height: 300px;

    @include desktop {
      max-height: 300px;
      max-width: 80%;
    }

    &-element {
      list-style-type: none;
      margin-top: 10px;

      &:hover {
        color: $lightgreen;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__result {
    max-width: 100%;
    text-wrap: normal;
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-align: center;

    @include desktop {
      max-width: 80%;
    }

    &-element {
      color: $green;
      text-transform: uppercase;
      font-size: 1.3rem;

      &:last-of-type {
        text-transform: lowercase;
        color: black;
      }
    }


    &-false {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 100%;


      & a {
        text-decoration: none;
        color: $green;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $green;
        }
      }
    }


  }
}



