@import "/src/css/settings/Colors";
@import "/src/css/settings/Fonts";
@import "/src/css/settings/Mixins";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;

    @include tablet {
      max-width: 60vw;
    }

    @include desktop {
      max-width: 50vw;
      margin-top: 90px;
    }
  }

  &__text {
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 60px;
    }
  }

  &__form {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    border: (1px solid $green);
    outline: none;
    box-shadow: 0 2px 10px rgba(35,132,67, 0.4);
    padding: 10px;

    &::placeholder {
      color: $lightgreen;
    }

    &:focus {
      box-shadow: none;
    }

    @include tablet {
      max-width: 80%
    }
    @include desktop {
      max-width: 80%
    }
  }

  &__list {
    width: 100%;
    font-size: 1.2rem;
    border: (1px solid $green);
    outline: none;
    box-shadow: 0 2px 10px rgba(35,132,67, 0.16);
    padding: 10px;
    background-color: $white;
    overflow: scroll;
    max-height: 300px;

    @include desktop {
      max-height: 300px;
      max-width: 80%;
    }

    &-element {
      list-style-type: none;
      margin-top: 10px;

      &:hover {
        color: $lightgreen;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__result {
    max-width: 100%;
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: center;

    @include tablet {
      font-size: 1.3rem;
      font-weight: bold;
    }

    @include desktop {
      max-width: 80%;
      font-size: 1.3rem;
      font-weight: bold;
    }

    &-element {
      color: $green;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: bold;

      @include tablet {
        font-size: 1.3rem;
      }

      @include desktop {
        font-size: 1.3rem;
      }

      &:last-of-type {
        text-transform: lowercase;
        color: black;
      }
    }


    &-false {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    max-width: 100%;

      @include tablet {
        font-size: 1.3rem;
      }
      @include desktop {
        font-size: 1.3rem;
      }

      & a {
        text-decoration: none;
        color: $green;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $green;
        }
      }
    }
  }
}

.bin__result {
  margin-top: 15px;

  &-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    cursor: pointer;
    margin: auto;
    width: auto;
  }

    &-paper {
      @include createBoxSearchForm(80vw, 70px, 10px, $paper, $background);
    }

    &-bio {
      @include createBoxSearchForm(80vw, 70px, 10px, $bio, $background);
    }
    &-glass {
      @include createBoxSearchForm(80vw, 70px, 10px, $glass, $background);

    }
    &-mixed {
      @include createBoxSearchForm(80vw, 70px, 10px, $mixed, $background);
    }
    &-pet{
      @include createBoxSearchForm(80vw, 70px, 10px, $pet, $background);
    }

  &-icon {
    padding: 10px;
    width: 40px;
    height: auto;
    margin-right: 10px;
    color: $background;

    @include tablet {
      width: 60px;
      margin-right: 0;
    }

    @include desktop {
      width: 60px;
      margin-right: 0;
    }
  }
  &-icon.mixed {
    width: 28px;
    @include tablet {
      width: 50px;
    }

    @include desktop {
      width: 50px;
    }
  }
  &-icon.bio {
    width: 35px;
    @include tablet {
      width: 50px;
    }

    @include desktop {
      width: 50px;
    }
  }
  &-icon.pet {
    width: 54px;
    @include tablet {
      width: 60px;
    }

    @include desktop {
      width: 60px;
    }
  }

  &-desc {
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;

    @include tablet {
      font-size: 1.3rem;
      font-weight: normal;
      margin-top: 10px;
      text-align: center;
    }
    @include desktop {
      font-size: 1.3rem;
      font-weight: normal;
      margin-top: 10px;
      text-align: center;
    }
  }
}




