@import "Reset";
@import "Normalize";
@import "settings/Colors";
@import "settings/Fonts";
@import "settings/Mixins";
@import "Navbar";
@import "Home";
@import "SearchForm";
@import "AddTrash";


body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('../assets/background.jpg');
  position: relative;
}
