@import "Reset";
@import "Normalize";
@import "settings/Colors";
@import "settings/Fonts";
@import "settings/Mixins";
@import "Navbar";
@import "Home";
@import "SearchForm";
@import "AddTrash";


body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  font-family: $text;
  font-size: 16px;
}


.text__header {
  font-family: $text;
  font-size: 1.2rem;
  line-height: 1.6rem;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

}
