@import "Reset";
@import "Normalize";
@import "settings/Colors";
@import "settings/Fonts";
@import "settings/Mixins";
@import "Navbar";
@import "Home";
@import "SearchForm";
@import "AddTrash";


body {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: $background;
  font-family: $text;
  font-size: 16px;
}


.text__header {
  font-family: $text;
  font-size: 1.4rem;

}
