.navbar.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

@media screen and (min-width: 1024px)
.navbar {
  min-height: 3.25rem;
}
@media screen and (min-width: 1024px)
.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch;
  display: flex;
}
.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}


.navbar {
  background-color: #00d1b2;
  color: #fff;
  min-height: 4rem;

  &__container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
  }

  &__brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
  }

  &__burger {
    color: $black;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
    text-decoration: none;

    &-span {
      background-color: currentColor;
      display: block;
      height: 1px;
      left: calc(50% - 8px);
      position: absolute;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color,opacity,transform;
      transition-timing-function: ease-out;
      width: 16px;

      :first-child {
        top: calc(50% - 6px);
      }
    }
  }

  &__menu {

  }

  &__start {

  }

  &__item {

  }

  &__logo {

  }
}





//span {
//            &:nth-child(1) {
//              transform: rotate(45deg) translate(2px, 5px);
//            }
//            &:nth-child(2) {
//              opacity: 0;
//            }
//            &:nth-child(3) {
//              transform: rotate(-45deg) translate(2px, -5px);
//            }
//          }


//.navbar.is-primary {
//  background-color: #00d1b2;
//  color: #fff;
//}
//
//.navbar {
//  min-height: 3.25rem;
//  position: relative;
//  z-index: 30;
//}
//
//.navbar>.container {
//  align-items: stretch;
//  display: flex;
//  min-height: 3.25rem;
//  width: 100%;
//}
//.container {
//  flex-grow: 1;
//  margin: 0 auto;
//  position: relative;
//  width: auto;
//}
//
//.navbar-brand, .navbar-tabs {
//  align-items: stretch;
//  display: flex;
//  flex-shrink: 0;
//  min-height: 3.25rem;
//}
//
////navbar-burger burger false
//
//.navbar-burger {
//  color: #4a4a4a;
//  cursor: pointer;
//  display: block;
//  height: 3.25rem;
//  position: relative;
//  width: 3.25rem;
//  margin-left: auto;
//}
//a {
//  color: #3273dc;
//  cursor: pointer;
//  text-decoration: none;
//}
//
//.navbar-burger span:first-child {
//  top: calc(50% - 6px);
//}
//.navbar-burger span {
//  background-color: currentColor;
//  display: block;
//  height: 1px;
//  left: calc(50% - 8px);
//  position: absolute;
//  transform-origin: center;
//  transition-duration: 86ms;
//  transition-property: background-color,opacity,transform;
//  transition-timing-function: ease-out;
//  width: 16px;
//}
//
////przy navbar-menu false
//
//navbar-start {
//  justify-content: flex-start;
//  margin-right: auto;
//  align-items: stretch;
//  display: flex
//}
//
//a.navbar-item {
//  cursor: pointer;
//  flex-grow: 0;
//  flex-shrink: 0;
//  text-decoration: none;
//}
//
////navbar-burger burger is-active
//
//.navbar-burger {
//  color: #4a4a4a;
//  cursor: pointer;
//  display: block;
//  height: 3.25rem;
//  position: relative;
//  width: 3.25rem;
//  margin-left: auto;
//}
//a {
//  color: #3273dc;
//  cursor: pointer;
//  text-decoration: none;
//}
//
//.navbar-menu {
//  background-color: #fff;
//  box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
//  padding: .5rem 0;
//}
//a.navbar-item {
//  cursor: pointer;
//}
//.navbar-item {
//  flex-grow: 0;
//  flex-shrink: 0;
//}
//.navbar-item, .navbar-link {
//  color: #4a4a4a;
//  display: block;
//  line-height: 1.5;
//  padding: .5rem .75rem;
//  position: relative;
//}
//a {
//  color: #3273dc;
//  cursor: pointer;
//  text-decoration: none;
//}